export NIXPKGS_ALLOW_UNFREE=1
layout julia
export JULIA_NUM_THREADS=auto
export JULIA_LOAD_PATH="$JULIA_LOAD_PATH:$PWD/src"
export JULIA_LOCAL_INIT="$PWD"

# use flake 'gitlab:Rellikeht/environments?dir=pluto'
# use flake 'gitlab:Rellikeht/environments?dir=ijulia'
